.ListUser {
    background: rgb( 7 , 9 , 12 );
    border-right: 1px solid white;
    color: white;
    font-size: 30px;
    flex-direction: column;
    overflow: auto;
    height: 80%;
    width: 100%;
}

.container-left {
  width: 40%;
  height: 100%;
}

.container-left .style-title {
  border-bottom: 2px solid white;
  color: white;
  font-size: 26px;
  margin-left: 60px;
  padding-bottom: 20px;
  width: 70%;
}
